body {
  background: #282a36;                      /* Fundo estilo Dark */
  color: #FFF;                              /* Letras brancas */
  font-family: Arial, Helvetica, sans-serif;  /* Tipo de fonte */
}